{% extends 'base_template/index.html' %}
{% load i18n %}
{% block content %}
<div class="container">
    <h2>{{ title_text|default:"Create status" }}</h2>
    <form method="post" class="mt-4">
        {% csrf_token %}
        
        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {{ form.non_field_errors }}
            </div>
        {% endif %}
        
        {% for field in form %}
            <label class="mb-3" for="{{ field.id_for_label }}">
                {% if field.label %}
                        {{ field.label }}
                {% endif %}
            </label>
                {{ field }}
                
                {% if field.errors %}
                    <div class="invalid-feedback d-block">
                        {{ field.errors }}
                    </div>
                {% endif %}
        {% endfor %}
        <div class="d-grid mt-4">
            <button type="submit" class="btn btn-primary py-2">
                {{ button_text|default:"Create" }}
            </button>
        </div>
    </form>
</div>
{% endblock %}